<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid our-program extra-light-purpleblue-color padding-top">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 title text-center">
                        <h2>OUR <span>PROGRAMS</span></h2>
                        <p>We believe that age-appropriate handling of a child is the key to right upbringing.
                            Following the same, SANFORD offers specialized age-wise classification of the tiny-tots.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid our-program extra-light-purpleblue-color" style="margin-top: -30px;">
                <div class="row">
                    <div class="col-lg-8 offset-lg-1 title">
                        <h3>SAN TODDLER (2.5 YEARS)</h3>
                        <p>SAN Toddler Program is based on the concept of fun and learn, children are allowed to play
                            and explore new things under the care and guidance of our teachers.</p>
                        <p>They are given scientifically planned age appropriate activities, which help them in:</p>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 offset-lg-1 list-points">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Developing listening and language skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Emotional, physical and social engagement</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Developing a grasp hold to enable scribbling</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Exploration of letters, Numbers, primary shapes and colors</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Development of fine and gross motor skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Cognitive development through sensorial activities</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Learning by exploration</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Encouraging curiosity</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Developing vocabulary and communication skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Fostering the seeds of self-reliance and team work</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Numeracy & Literacy Readiness</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>To promote Self-help activities</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 col-lg-3 offset-lg-2">
                        <img src="../../../../../assets/c1.jpg" alt="">
                    </div>
                </div>
            </div>



            <div class="container-fluid our-program extra-light-red-color">
                <div class="row">
                    <div class="col-lg-8 offset-lg-1 title">
                        <h3>SAN LEARNER (3 - 4 YEARS)</h3>
                        <p>SAN Learner program is designed to help children in smooth transition between their
                            elementary knowledge they gained during Toddler program and more structured and advanced SAN
                            Learner curriculum.
                        </p>
                        <p>The SAN Learner program focuses on building on</p>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 offset-lg-1 list-points">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Personal, Social and Emotional Development</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Enhancement of Cognitive Skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Developing Numeracy, linguistic and Literacy skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Inculcating Life-long learning skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Development of aesthetic, imaginative and inquisitiveness senses.</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Developing creative and constructive skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Exploring and encouraging inbuilt talents</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Improving the pincer grip of children for better holding of things, specially
                                    handwriting</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 col-lg-3 offset-lg-2">
                        <img src="../../../../../assets/c2.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="container-fluid our-program extra-light-yellow-color">
                <div class="row">
                    <div class="col-lg-8 offset-lg-1 title">
                        <h3>SAN JUNIOR (4 - 5)</h3>
                        <p>SAN Toddler Program is based on the concept of fun and learn, children are allowed to play
                            and explore new things under the care and guidance of our teachers.</p>
                        <p>We encourage children to express themselves through Dance, Drama, Music, Art and Role
                            Plays.The SAN Juniorprogram focuses on:</p>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 offset-lg-1 list-points">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Promoting reading, writing and speaking and listening skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Creating the road for Critical thinking</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Targeting the holistic development of the child</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Promoting self-confidence</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Problem Solving Skills And Cognitive Development</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Addressing psychological changes fitting them well with societal norms</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Preparing for primary school</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 col-lg-3 offset-lg-2">
                        <img src="../../../../../assets/c3.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="container-fluid our-program extra-light-green-color">
                <div class="row">
                    <div class="col-lg-8 offset-lg-1 title">
                        <h3>SAN SENIOR (5 - 6)</h3>
                        <p>SAN Seniorprogram is aligned with State, CBSE, ICSE, Cambridge and IB school curriculum to give children a strong foundation for academic excellence that will be required to confidently enter the formal school setup.</p>
                        <p>Our SAN Seniorprogram focuses on:</p>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 offset-lg-1 list-points">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Physical, Personal, Social, Emotional Skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Literature And Language Skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Creative And Expressive Skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Language and Math skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Logical Reasoning Skills</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Exposure to Technology</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Understanding of the World</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Dance, Music, Drama & Confidence Building</p>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <p>Field Trips & Educational Tours</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 col-lg-3 offset-lg-2">
                        <img src="../../../../../assets/c4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <div class="spinner-container" *ngIf="loader">
        <div class="spinner-overlay" *ngIf="loader">
            <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate"
                strokeWidth="3"></mat-progress-spinner>
        </div>
    </div>