<div class="container-fluid mt-5" style="background-color: #f4f9ff;padding-bottom: 10vh;">
    <div class="row">
        <div class="col-12 title mt-5">
            <h2>Parent Speak</h2>
            <p style="color:#21409a;text-align: center;font-size: 25px;font-weight: 500;letter-spacing: .5px;">Happy parents count on EuroKids</p>
        </div>
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="slider-main-card">
                <div class="owl-carousel parents-carousel">
                    <div class="row parents-card">
                        <div class="col-12 col-lg-4 img-container">
                            <img src="../../../../assets/about/teacher.png"
                                alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                            <h3>Isha Caushal</h3>
                            <h4>Nursery - Sanford Junior School, Chabbra</h4>
                        </div>
                        <div class="col-12">
                            <p>parentsInfo.role - parentsInfo.desc parentsInfo.role - parentsInfo.desc parentsInfo.role - parentsInfo.descparentsInfo.role - parentsInfo.descparentsInfo.role - parentsInfo.desc</p>
                        </div>
                    </div>
                    <div class="row parents-card">
                        <div class="col-12 col-lg-4 img-container">
                            <img src="../../../../assets/about/teacher.png"
                                alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                            <h3>Natasha Gupta</h3>
                            <h4>Nursery - Sanford Junior School, Chabbra</h4>
                        </div>
                        <div class="col-12">
                            <p>parentsInfo.role - parentsInfo.desc parentsInfo.role - parentsInfo.desc parentsInfo.role - parentsInfo.descparentsInfo.role - parentsInfo.descparentsInfo.role - parentsInfo.desc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>