<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid side-banner" style="background-color: rgb(251, 254, 255);">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                                <img src="../../../../assets/core-values.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="col-12 col-lg-10 title">
                            <h2>OUR <span>CURRICULUM</span></h2>
                            <p>Our curriculum is crafted in “Core Value Circle” which helps children in the
                                refinement of their senses; communication & language development, motor skill
                                development, physical development, creative development, social development, personality
                                development, problem-solving, reasoning & numeracy skills, practical life/ care for self
                                & environment and understanding of the world.</p>
                            <p class="p2">Our curriculum is based on The U. K. Concept of Preschool Education (EYFS –
                                Early Years Foundation Stage), which involves effective and time-tested elements of
                                traditional learning infused with cutting-edge technology resources, which makes the
                                teaching &learning more effective and joyful. The curriculum is crafted to help children
                                to learn with uniquely designed activities, games & role-plays.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid extra-light-skyblue-color learning-development padding-top padding-bottom">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <h2>THE AREAS OF LEARNING AND DEVELOPMENT ARE AS FOLLOWS:</h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/1.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>SENSORY SKILLS DEVELOPMENT</h3>
                                <p>A child starts using his all five senses since his birth to explore and make sense of
                                    his surroundings. Children at their early age are excited to explore new things
                                    every moment so; every unfamiliar sight, taste, smell and sound can be exciting for
                                    them. We plan our sensory activities to give children an opportunity to learn by
                                    touching, tasting, smelling, seeing, moving and hearing. The type of movement
                                    involved in our sensory play like squeezing, pinching, sorting, placing, and
                                    scooping, listening, etc. are designed to improve their fine motor skills and
                                    increase the brain pathways to boost-up their hand-eye coordination. This holistic
                                    learning process encourages children to play safely and engage with their
                                    surroundings as well as improve their brain development.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/2.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>COMMUNICATION & LANGUAGE DEVELOPMENT</h3>
                                <p>There is a wide range of opportunities for development in language skills. We have a
                                    well-equipped book corner and a role play area. Story time, D.E.A.R and news time
                                    activities are a regular feature. Children are encouraged to explore a wide range of
                                    innovative and linguistic activities that provide opportunities to understand and
                                    learn new vocabulary.

                                    Early writing skills are promoted at the appropriate age and children are encouraged
                                    to write alphabets, numbers and letters using tracing activities in different ways,
                                    and followed by upper and lower case letters. Children’s knowledge of word building
                                    is developed through individual and group activities. Stories, poems, listening
                                    station, worksheets, computer applications and audio-visual aids help them to
                                    associate sounds with letters and words and develop the understanding about the
                                    phonetic sounds.

                                    The colourful and thematic display in the classrooms is always interactive and
                                    providing a stimulating learning environment. This is an integral part of our
                                    system, which very helpful in developing awareness of the written word in the
                                    children.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/3.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>MOTOR-SKILL DEVELOPMENT</h3>
                                <p>We have specially designed activities and tools to develop motor skills of children,
                                    which help them in their physical growth, and strengthening of bones, muscles and
                                    ability to move and touch their surroundings.

                                    We have scientifically planned activities for children to enhance their fine motor
                                    skills with the movements of their hands, wrists, fingers, feet, toes, lips and
                                    tongue and development of their Gross motor by involving them in the activities and
                                    game like walk, run, jump and skip, etc.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/4.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>PHYSICAL DEVELOPMENT</h3>
                                <p>Children at their early age experience a wide range of activities that help them to
                                    develop and strengthen their muscular skills, manipulative skills, and control of
                                    their body and an awareness of space. At our schools, children learn how to use a
                                    range of tools including pencils, paint brush, paper, scissors, crayons and glue
                                    sticks and participate in a variety of activities such as drawing, painting,
                                    cutting, sticking, etc. There are also opportunities to make models and use a good
                                    range of construction toys.

                                    There is a variety of indoorand outdoor activities planned to enable their gross and
                                    fine motor skills and to imbibe activities, based on their hand-eyes co-ordination
                                    and body control. We encourage the children to use their imaginations and physical
                                    skills to make good use of our resources.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/5.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>CREATIVE DEVELOPMENT</h3>
                                <p>Our schools have a stimulating and informative atmosphere for early learners. They
                                    will explore a new topic related to the curriculum plan. Activities, such as
                                    painting, drawing, multi media and model making and role-plays ensure that the
                                    children are actively involved in their school activities. They are encouraged to
                                    participate in dance, music, drama and debates in the school events, festivals,
                                    special assemblies and inter-schools competitions to show and improve their creative
                                    skills.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/6.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>PERSONAL AND SOCIAL DEVELOPMENT</h3>
                                <p>Children’s personal and social development is a strong feature of our schools, both
                                    in planned activities and guided play in the daily schedule. SANFORD’s behaviour
                                    policy ensures that the children learn right from wrong in the early stages and they
                                    are taught to think and respect the feelings of others and develop a sense of
                                    empathy.

                                    Children are encouraged to play together and share. They are given opportunity to
                                    play and work in groups or independently. Children also develop their
                                    self-confidence and personal independence, through activities such as news time,
                                    giving out the snacks, looking for their own book and taking care of their own
                                    personal hygiene.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/7.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>PPERSONALITY DEVELOPMENT</h3>
                                <p>We believe that every child is unique and we respect its uniqueness accordingly we
                                    try to blossom the inherent talent and personality quotient. Personality development
                                    is an outcome of cognitive, emotional, motivational and temperamental attributes
                                    that determine child’s view about himself, his world and the future.

                                    Children are easy to adept and curious to learn.With this believe we have an outcome
                                    based performing art activities in our curriculum. We encourage them to participate
                                    in Role Plays, Stage presentations, Show & Tell, Music, Dance & Drama, Rhyme &
                                    Stories, etc. to develop a self - esteemed and confident child.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/8.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>PROBLEM SOLVING, REASONING AND NUMERACY</h3>
                                <p>In our schools children are given a wide range of scientifically planned activities,
                                    they are encouraged to count and sort using shape, size and colour. They are
                                    introduced to environmental mathematics through child friendly play dough,
                                    constructive toys, abacus, thread & beads and pattern based wall and floor games
                                    activities. Our teachers use rich mathematical vocabulary to introduce concepts such
                                    as under, over, behind, heavy and light. Children are encouraged to use day-to-day
                                    life skill concepts of counting as a part of their play to enhance their thinking
                                    skills.Lots of activities are planned to refine their fine motor skills and they are
                                    encouraged to write numbers.</p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/9.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>PRACTICAL LIFE/ CARE FOR SELF & ENVIRONMENT</h3>
                                <p>Our aim is to develop self-reliant individuals who are independent in accomplishing
                                    wide range of life-skills by themselves and prove to be a valuable asset to the
                                    society as a whole.

                                    Promoting a sense of self and environment includes personal, social, psychological,
                                    emotional and spiritual components of an individual’s well being. We create an
                                    environment that supports children to engage in self-care with their positive
                                    outlook, self-awareness, healthy habits and mindfulness, etc. We empower them to do
                                    things for themselves like Yoga & aerobics, use of magical words, table manners,
                                    self-hygiene, basic etiquettes and positive outlook.

                                    Awareness about environment is also an important aspect for children. To inculcate
                                    the behavioral values we plan activities and events like tree plantation drive,
                                    earth day, save water, save electricity, clean your neighbourhood and help the
                                    needy, etc. to make them global citizen

                                </p>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-3 col-lg-2">
                                <img src="../../../../../assets/our-system/curriculam/10.png" alt="">
                            </div>
                            <div class="col-9 col-lg-10">
                                <h3>UNDERSTANDING OF THE WORLD</h3>
                                <p>We encourage our students to look at the world and all its surroundings. The children
                                    are encouraged to portray self-images in every term through drawing, model making,
                                    painting and self-expression. We help them to develop their moral values to take
                                    care of the environment and surrounding being a good citizen of the nation. Their
                                    Photographs and videos are taken on a regular basis so that children can refer to
                                    their past experiences and learn from them.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>