<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid extra-light-skyblue-color padding-top pt-5">
                <div class="row pt-2">
                    <div class="col-12 col-lg-10 offset-lg-1 title text-center">
                        <h2>Nurturing Confidence Beyond Comfort</h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1 title">
                        <p style="text-align: center;">Our EuroTots Program is designed to help toddlers tackle the
                            transition from mom and home surroundings by creating a consistent routine out of the home.
                            Toddlers thrive on routine, giving them a sense of security in a big, overwhelming world.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid extra-light-skyblue-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-2">
                        <div class="row">
                            <div class="col-10 offset-1 col-lg-2 offset-lg-0 img-column">
                                <img class="mb-3"
                                    src="../../../../../assets/our-programs/toddler/Teacher-Child-Ratio.png" alt="">
                                <p>Teacher Child Ratio</p>
                                <p>1:6</p>
                            </div>
                            <div class="col-10 offset-1 col-lg-2 offset-lg-0 img-column">
                                <img class="mb-3"
                                    src="../../../../../assets/our-programs/toddler/Dedicated-Support-Staff.png" alt="">
                                <p>Dedicated Support</p>
                                <p>Staff 1:6</p>
                            </div>
                            <div class="col-10 offset-1 col-lg-2 offset-lg-0 img-column">
                                <img class="mb-3"
                                    src="../../../../../assets/our-programs/toddler/Child-First-Safety-First.png"
                                    alt="">
                                <p>Child First Safety</p>
                                <p>First</p>
                            </div>
                            <div class="col-10 offset-1 col-lg-2 offset-lg-0 img-column">
                                <img class="mb-3"
                                    src="../../../../../assets/our-programs/toddler/Experienced-All-female-Staff.png"
                                    alt="">
                                <p>Experienced</p>
                                <p>All-female Staff</p>
                            </div>
                            <div class="col-10 offset-1 col-lg-2 offset-lg-0 img-column">
                                <img class="mb-3"
                                    src="../../../../../assets/our-programs/toddler/Structured-20-week.png" alt="">
                                <p>Structured 20-week</p>
                                <p>Curriculum</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid pb-5 extra-light-red-color" style="padding-left: 5%;padding-right: 5%;">
                <div class="row features pb-5">
                    <div class="col-12 title mt-5">
                        <h2>Program Features</h2>
                    </div>

                    <div class="col-12 col-lg-12">
                        <div class="row img-section">
                            <div class="col-6 col-lg-3 mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Routine-Building.png"
                                    alt="">
                                <p>Routine Building</p>
                            </div>
                            <div class="col-6 col-lg-3  mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Fine-Motor-Skills.png" alt="">
                                <p>Fine Motor Skills</p>
                            </div>
                            <div class="col-6 col-lg-3  mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Social-Skills.png"
                                    alt="">
                                <p>Social Skills</p>
                            </div>

                            <div class="col-6 col-lg-3 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Linguistic-Skills.png"
                                    alt="">

                                <p>Linguistic
                                    Skills</p>

                            </div>
                            <div class="col-6 col-lg-3 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Confidence-Building.png"
                                    alt="">

                                <p>Confidence Building</p>

                            </div>
                            <div class="col-6 col-lg-3 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Visual-and.svg"
                                    alt="">

                                <p>Visual and Auditory Skills</p>

                            </div>
                            <div class="col-6 col-lg-3 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Sensory-Development.png"
                                    alt="">

                                <p>Sensory
                                    Development</p>

                            </div>
                            <div class="col-6 col-lg-3 mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Intrapersonal-Skills.png"
                                    alt="">

                                <p>Intrapersonal
                                    Skills</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container pb-5">
                <div class="row features pb-5">
                    <div class="col-12 title mt-5">
                        <h2>Program Overview</h2>
                    </div>

                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row img-section overview">
                            <div class="col-6 col-lg-4 mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Age-Group.png"
                                    alt="">
                                <h4>Age Group</h4>
                                <p>18 to 24 months</p>
                            </div>
                            <div class="col-6 col-lg-4  mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Program-Duration.png" alt="">
                                <h4>Program Duration</h4>
                                <p>20 weeks</p>
                            </div>
                            <div class="col-6 col-lg-4  mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Settling-Period.png"
                                    alt="">
                                <h4>Settling Period</h4>
                                <p>1 Week</p>
                            </div>

                            <div class="col-6 col-lg-4 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Session-Duration.png"
                                    alt="">

                                <h4>Session Duration</h4>
                                <p>120 mins</p>

                            </div>
                            <div class="col-6 col-lg-4 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Session-pe-Week.png"
                                    alt="">

                                <h4>Session per Week</h4>
                                <p>Five days a week</p>

                            </div>
                            <div class="col-6 col-lg-4 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Total-no-of-sessions.png"
                                    alt="">

                                <h4>Total no. of sessions</h4>
                                <p>100 Sessions</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-fluid pb-5" style="background-color: #e83a40;padding-left: 5%;padding-right: 5%;">
                <div class="row features pb-5">
                    <div class="col-12 title mt-5">
                        <h2 style="color:#fff">A Week at EUROTOTS</h2>
                    </div>

                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row img-section overview">
                            <div class="col-6 col-lg-4 mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Gross-Motor-Time-0.png"
                                    alt="">
                                <h4 style="color:#fff">Gross Motor Time</h4>
                                <p style="color:#fff">Skiil : Fine Motor Development</p>
                            </div>
                            <div class="col-6 col-lg-4  mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Yoga-Time.png" alt="">
                                <h4 style="color:#fff">Yoga Time</h4>
                                <p style="color:#fff">Skiil : Creative Expression</p>
                            </div>
                            <div class="col-6 col-lg-4  mt-2">
                                <img src="../../../../../assets/our-programs/toddler/Music-And-Movment.png"
                                    alt="">
                                <h4 style="color:#fff">Music And Movement</h4>
                                <p style="color:#fff">Skiil : Spacial Relationship</p>
                            </div>

                            <div class="col-6 col-lg-4 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Gross-Motor-Time.png"
                                    alt="">

                                <h4 style="color:#fff">Gross-Motor-Time</h4>
                                <p style="color:#fff">Skiil : Visual Preception</p>

                            </div>
                            <div class="col-6 col-lg-4 mt-2">

                                <img src="../../../../../assets/our-programs/toddler/Outdoor-Fre-Play.png"
                                    alt="">

                                <h4 style="color:#fff">Outdoor Free Play</h4>
                                <p style="color:#fff">Skiil : Preception </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid padding-top pt-5 pb-5">
                <div class="row pt-2 pb-2">
                    <div class="col-12 col-lg-10 offset-lg-1 title text-center">
                        <h2>Why Choose EuroKids</h2>
                        <h3 style="font-size: 22px;">​for Toddler Transition Program?</h3>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1 title">
                        <p>When it comes to laying a strong foundation for your child's development, EuroTots' Toddler Transition Program stands out as an exceptional choice. Our structured toddler program goes beyond traditional infant care, focusing on holistic growth encompassing physical, cognitive, and skill development.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <app-footer></app-footer>
</div>