<app-header></app-header>
<div class="home">
  <div class="row">
    <div class="main-card">
      <div class="container-fluid padding-top padding-bottom">
        <div class="row">
          <div class="col-12 col-lg-12 title padding-top text-center padding-bottom">
            <h2>CONTACT <span>US</span></h2>
          </div>
          <div class="col-lg-10 offset-lg-1">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="contact-card light-yellow-color text-center">
                  <h4>{{schoolInfo?.street}},
                    {{schoolInfo?.city}},{{schoolInfo?.district}}, {{schoolInfo?.state}}
                    ({{schoolInfo?.country}}) {{schoolInfo?.pinCode}}</h4>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="contact-card light-skyblue-color text-center">
                  <h4>Ph. : {{schoolInfo?.phoneOne}}</h4>
                  <h4>Ph. : {{schoolInfo?.phoneSecond}}</h4>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="contact-card light-pink-color text-center">
                  <h4>{{schoolInfo?.email}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
      <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
  </div>
</div>