<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <button class="submit-button1" mat-raised-button routerLink="/franchise">Franchise Enquiry</button>
            <button class="submit-button2" mat-raised-button routerLink="/admissions">Admission Enquiry</button>
            <div class="banner-background">
                <div class="owl-carousel banner-carousel">
                    <!-- <div *ngFor="let bannerInfo of bannerInfo,let i = index">
                        <img class="banner-card" src="{{baseUrl}}/public/banner-image/{{bannerInfo.image}}"
                            alt="banner-{{i+1}}">
                    </div> -->
                    <div>
                        <img class="banner-card" src="../../../../assets/banner/banner2.jpg" alt="banner">
                    </div>
                </div>
            </div>
            <div class="container-fluid side-banner">
                <div class="row">
                    <div class="col-lg-12 title">
                        <h2>Is Early Childhood Education important?</h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-12 col-lg-5 offset-lg-1 section-a">
                                <p>90% of brain development happens before the age of 6.</p>
                                <p style="color: rgb(227, 58, 58);">Brain development progression</p>
                                <img src="../../../../assets/home/Brain-development-progression.jpg" alt="">
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1 section-b">
                                <p>Here's what your child could miss out without early schooling at the right age.</p>
                                <div class="row img-section">
                                    <div class="col-6 mt-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="../../../../assets/home/side-banner/Improved-social-skills (1).png"
                                                    alt="">
                                            </div>
                                            <div class="col-8">
                                                <p>Improved social skills</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="../../../../assets/home/side-banner/No-need-for-special-education-instruction.png"
                                                    alt="">
                                            </div>
                                            <div class="col-8">
                                                <p>No need for special education instruction</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="../../../../assets/home/side-banner/Better-marks-and-enhanced-attention-spans.png"
                                                    alt="">
                                            </div>
                                            <div class="col-8">
                                                <p>Better marks and enhanced attention spans</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="../../../../assets/home/side-banner/Fewe-behavioural-problems.png"
                                                    alt="">
                                            </div>
                                            <div class="col-8">
                                                <p>Fewer behavioural problems</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="../../../../assets/home/side-banner/Development-milestones-achieved.png"
                                                    alt="">
                                            </div>
                                            <div class="col-8">
                                                <p>Development milestones achieved</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="../../../../assets/home/side-banner/Better-language-development.png"
                                                    alt="">
                                            </div>
                                            <div class="col-8">
                                                <p>Better language development</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid our-program">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row title text-center">
                            <h2>Our Pre-school Programs</h2>
                            <h3>With age-appropriate stimulation, and the right balance of learning and fun, we encourage their curiosity and fuel their creative side.</h3>
                            <div class="col-12 col-lg-3">
                                <div class="program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/home/our-program/PlayGroup.jpg" alt="">
                                    </div>
                                    <h3>PlayGroup</h3>
                                    <h4>2 to 3 years</h4>
                                    <p>Discovery and exploration, language development, new-age skills, and shaping scientific mindset.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/home/our-program/Nursery.jpg" alt="">
                                    </div>
                                    <h3>Nursery</h3>
                                    <h4>3 to 4 years</h4>
                                    <p>Enhancing interaction, cultivating creativity and improving imagination through art and music.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/home/our-program/EuroJunior.jpg" alt="">
                                    </div>
                                    <h3>SanfordJunior</h3>
                                    <h4>4 to 5 years</h4>
                                    <p>Age-appropriate learning and educational tools suited for individual pace.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/home/our-program/EuroSenior.jpg" alt="">
                                    </div>
                                    <h3>SanfordSenior</h3>
                                    <h4>5 to 6 years</h4>
                                    <p>Developing vocabulary, attention span, reading and writing skills with innovative methods and preparing for primary school
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-fluid franchise-opportunity">
                <div class="row title">
                    <div class="col-12">
                        <h2 class="franchise-heading">Fun at EuroKids</h2>
                        <h4 style="text-align: center;">We're all about making learning fun</h4>
                    </div>
                    <div class="col-12 col-lg-4"><img src="../../../../assets/home/Fun-EuroKids-removebg-preview.png" alt="">
                    </div>
                    <div class="col-12 offset-0 col-lg-8 mt-5">
                        <div class="slider-main-card">
                            <div class="owl-carousel testimonial-carousel">
                                <div class="row testimonial-card">
                                    <div class="col-12 img-container">
                                        <mat-icon class="custom-icon-size-large">celebration</mat-icon>
                                    </div>
                                    <div class="col-12">
                                        <h3>Events & Celebrations</h3>
                                    </div>
                                    
                                </div>
                                <div class="row testimonial-card">
                                    <div class="col-12 img-container">
                                        <mat-icon class="custom-icon-size-large">health_and_safety</mat-icon>
                                    </div>
                                    <div class="col-12">
                                        <h3>Health is Wealth Day</h3>
                                    </div>
                                    
                                </div>
                                <div class="row testimonial-card">
                                    <div class="col-12 img-container">
                                        <mat-icon class="custom-icon-size-large">hotel_class</mat-icon>
                                    </div>
                                    <div class="col-12">
                                        <h3>Special Day</h3>
                                    </div>
                                    
                                </div>
                                <div class="row testimonial-card">
                                    <div class="col-12 img-container">
                                        <mat-icon class="custom-icon-size-large">school</mat-icon>
                                    </div>
                                    <div class="col-12">
                                        <h3>Graduation Day</h3>
                                    </div>
                                    
                                </div>
                                <div class="row testimonial-card">
                                    <div class="col-12 img-container">
                                        <mat-icon class="custom-icon-size-large">cake</mat-icon>
                                    </div>
                                    <div class="col-12">
                                        <h3>Annual Day</h3>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container-fluid extra-light-skyblue-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 title text-center padding-bottom">
                        <h2>SANFORD IMAGE <span>GALLERY</span></h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations1.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations2.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations3.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations4.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations5.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations7.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations8.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations15.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations9.jpg"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->


            <!-- <div class="container-fluid awards">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 title text-center">
                        <h2>AWARDS & <span>ACCOLADES</span></h2>
                    </div>
                    <div class="col-lg-6 offset-lg-3 title text-center">
                        <p>The hard work and dedication of our team of more than 3000 passionate people nurturing
                            young children is well appreciated by parents, media and government in India & abroad.
                        </p>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel award-carousel">
                            <img src="../../../../assets/awards/award1.png" alt="">
                            <img src="../../../../assets/awards/award2.png" alt="">
                            <img src="../../../../assets/awards/award3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-10 offset-lg-1 title text-center">
                        <h2>FEATURED <span>IN</span></h2>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel award-carousel">
                            <img src="../../../../assets/awards/dainik-bhasker.png" alt="">
                            <img src="../../../../assets/awards/amar-ujaala.jpg" alt="">
                            <img src="../../../../assets/awards/dainik-jagran.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-fluid extra-light-skyblue-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 title text-center padding-bottom">
                        <h2>SANFORD IMAGE <span>GALLERY</span></h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations1.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations2.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations3.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations4.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations5.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations7.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations8.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations15.jpg"
                                    alt="">
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations9.jpg"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>