<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid extra-light-green-color padding-top">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 title text-center">
                        <h2>EVENTS & <span>CELEBRATIONS</span></h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1 title">
                        <p>Events & Celebration is one of the integral parts of SANFORD curriculum. We try to celebrate
                            most of the national & regional festivals, special days and other events throughout the
                            academic year, to help our children learn and appreciate different values, beliefs &
                            cultures. The celebration of festivals like Diwali, Christmas, Holi, Baisakhi,
                            RakshaBandhan, Janmashtami, Dussehra, Gurpurab, Eid etc. and events like Christmas Carnival,
                            Winter Carnival, Annual Funtion – Udaan, etc. is one of the important features at SANFORD.
                            The celebration of special days like Earth Day, Save Tiger Day, Penguin Day, Environment
                            Day, Mango Day, Colours & Shapes Day, Fruits & Vegetable Day, Birds Day, Animal Day, etc.
                            gives great learning to children.</p>
                        <p>All the celebrations and events in SANFORD branches are conducted with great responsibility
                            and sensitivity, ensuring children learn about our rich cultural diversity as per the
                            guidelines issues by SANFORD head office.</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid extra-light-skyblue-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations1.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations2.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations3.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations4.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations5.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations7.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations8.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations15.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations9.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations10.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations11.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations12.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations6.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations13.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations14.jpg" alt="" >
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>