<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid facilities extra-light-red-color padding-top">
                <div class="row">
                    <div class="col-lg-12 title text-center padding-bottom">
                        <h2>FACILITIES AT <span>SANFORD</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row title text-center">
                            <div class="col-12 col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/facilities/classroom.jpg" alt="">
                                    </div>
                                    <h3>CLASSROOM</h3>
                                    <p>At SANFORD classrooms are a cozy, comfy, cuddly place where Children are
                                        constructively engaged and teachers are observing, facilitating, and motivating
                                        them. Our classrooms are thoughtfully designed and structured, keeping in mind
                                        the safety and wellbeing of children. We believe that small group activities can
                                        happen naturally in the classrooms hence, we keep 1:15 teacher to student ratio
                                        in our schools.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/facilities/activity-arcade.jpg" alt="">
                                    </div>
                                    <h3>ACTIVITY ARCADE</h3>
                                    <p>SANFORD’s Activity Arcade are attractively designed with various enthralling
                                        concepts like doll house, Farm house, Zoo, Ball Pool, Toy Section, Concept Hut,
                                        Puzzle Corner and Role Play Corner, etc. to allow children to explore their
                                        interests. Our activity arcade helps children learn naturally by exploring
                                        different materials and also helps in developing their motor skills, reasoning,
                                        critical thinking and social skills.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/facilities/smart-class.jpg" alt="">
                                    </div>
                                    <h3>SMART LEARNING SYSTEM</h3>
                                    <p>We strongly believe that technology plays a very important role in preschool
                                        education today, therefore our classrooms are well equipped with large format
                                        interactive touch panels uniquely designed Smart Learning System to make
                                        learning process more interesting and interactive. It helps children to explore
                                        their curiosity and to develop their cognitive skills. </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/facilities/play-area.jpg" alt="">
                                    </div>
                                    <h3>STAGE PRESENTATIONS</h3>
                                    <p>We desire to bring out the best in our little SANFORDees and make them smart and
                                        confidant individual. We motivate our children to show their talent on the stage
                                        in the form of dance, drama, recitation, music and singing, etc. It helps
                                        children to bring out their unique talent and help in psychological and
                                        personality development of the children.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/facilities/stage-presentation.jpg" alt="">
                                    </div>
                                    <h3>PLAY AREA</h3>
                                    <p>Physical activities are very important for healthy development of the brain
                                        moreover it helps in the social, emotional, and cognitive development of the
                                        child. Therefore, we have fun-filled and child friendly play area in our schools
                                        well equipped with swings, slides, bouncy, tricycles, cars, trampoline, splash
                                        pool, etc.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/facilities/mid-day-meal.jpg" alt="">
                                    </div>
                                    <h3>MID-DAY MEALS</h3>
                                    <p>We provide healthy and nutritious meal to our children. During their meal times
                                        our little SANFORDees learn how to make nutritious choices, also discover a wide
                                        variety of different foods and develop healthy eating habits. The meals include
                                        one seasonal fruit and a healthy food like Kheer, Vermicelli, Pulao, Poha,
                                        Sandwich, etc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>