@import'../home/home.component.css';

.side-banner {
    height: auto !important;
}

.side-banner .container-section {
    padding-top: 20px;
    padding-bottom: 30px;
}

.side-banner .container-section img {
    width: 100% !important;
    height: 35vh;
}

.core-team {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
}

.core-team .padding {
    padding: 30px;
}

.core-team .program-card {
    background-color: #fff;
    height: 375px;
    padding: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;
    border-radius: 15px;
}
.core-team .program-card .top-title {
    padding-top:25px;
    height: 80px;
    border-radius: 15px 15px 0 0;
}
.core-team .program-card h5{
    font-size: 26px;font-weight: 600;color:#fff;
}
.core-team .program-card  p{
    text-align: left;font-size: 16px;color: #6b7697e4;
}
.red-color{
    background-color: rgb(232, 29, 66);
}
.darkblue-color{
    background-color: #21409a;
}

@media (min-width: 992px) {
    .side-banner {
        height: auto !important;
    }

    .side-banner .container-section {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .side-banner .container-section img {
        width: 85% !important;
        height: 45vh !important;
    }


    .core-team {
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .core-team .padding {
        padding: 50px 50px 10px 50px;
    }

    .core-team .program-card {
        background-color: #fff;
        height: 400px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;
    }

    .core-team .program-card .top-title {
        padding-top:25px;
        height: 80px;
        border-radius: 15px 15px 0 0;
    }
    .core-team .program-card .top-title h5{
        font-size: 26px;font-weight: 600;color:#fff;
    }
    .core-team .program-card .top-title p{
        text-align: left;font-size: 16px;color: #6b7697e4;
    }
}