<app-header></app-header>
<div class="home">
  <div class="row">
    <div class="main-card">
      <div class="container-fluid side-banner extra-light-skyblue-color padding-top pt-5">
        <div class="row container-section">
          <div class="col-lg-12 title">
            <h2>About Us</h2>
          </div>
          <div class="col-12 col-lg-6">
            <div class="col-lg-10 offset-lg-2 title">
              <p>
                Sanford Junior is part of Sanford Education Group, India's leading Early Childhood & K-12 Education
                group
                backed by KKR Capital. Lighthouse Learning is committed to deliver holistic development of its 25000+
                students across the network. The group works towards delivering a robust foundation for future
                generations with innovation in pedagogy, use of appropriate technology and focus on child safety.
                Celebrating 20+ years since inception, the group has always stayed ahead of the curve and is a harbinger
                of change in the educational landscape. With a ‘Child First’ ideology at its core, it has set new
                standards and raised the bar in many aspects, including enriching
                pedagogy and building a nurturing learning environment for children, using technology in enhancing
                learning engagements, creating employment and entrepreneurship opportunities for women or leading the
                way in enabling safety protocols for its students at the pre-school and schools.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <img src="../../../../assets/about/main-about.png">
          </div>
        </div>
      </div>
      <div class="container-fluid core-team" style="background-color: #fff6f8;">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="row title text-center">
              <h2>Our Story</h2>
              <p>Since the launch of our first pre-school in 2016, Sanford Junior has grown into one of India’s most
                trusted and well-regarded education brands.</p>


              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title red-color">
                        <h5>2016</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Pioneering High-Quality Early Education</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>We launched our first two preschools in Mumbai with an unwavering commitment to early
                            childhood education.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title darkblue-color">
                        <h5>2017</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Shaping Structured Kindergarten Learning</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Responding to the demand for structured learning, we expanded with Sanford Junior and
                            Sanford Senior, integrating our effective methodologies.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title red-color">
                        <h5>2018</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Learning Evolved to: ‘Learning by Doing'</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Elevated our curriculum with the "Learning by Doing" methodology, a dynamic approach to
                            active learning.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title darkblue-color">
                        <h5>2019</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Igniting Curiosity through Learning by Inquiry</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Enhanced our 'Learning by Doing' approach by introducing Learning by Inquiry, empowering curious minds through questioning.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title red-color">
                        <h5>2020</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Safety and Learning United</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Introduced the 'Child First, Safety First' Ideology.
                            Honored as an Indian Power Brand and India's Most Trusted Brand.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title darkblue-color">
                        <h5>2021</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Nurturing Executive Function Skills</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Enhanced curriculum focusing on 'Executive Function Skills,' vital for behaviour regulation and academic success.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title red-color">
                        <h5>2022</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Tech-Enhanced Learning</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Revolutionized early education with technology and earned the title of India's Best Preschool Chain.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title darkblue-color">
                        <h5>2023</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Learning Beyond the Classroom</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Launched the Web App, expanding learning beyond the classroom.
                            Earned the esteemed title of India's Most Trusted Brand.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 padding">
                <div class="program-card">
                  <div class="row">
                    <div class="col-12">
                      <div class="top-title red-color">
                        <h5>2024</h5>
                      </div>
                      <h4 style="text-align: left;margin-left: 3%;margin-right:3%;margin-top: 30px;font-size: 19px;">
                        Embracing Fresh Milestones</h4>
                      <div class="row" style="padding-left: 3%;padding-right: 3%;">
                        <div class="col-1"><i class="bi bi-circle-fill me-1"
                            style="font-size: 10px;color: #21409a;"></i></div>
                        <div class="col-11">
                          <p>Garnered titles of India's Most Trusted Preschool and India's Most Trusted Preschool.
                            Beyond borders, Sanford Junior stands as a beacon of trust and excellence.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  <app-footer></app-footer>
</div>