<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid activities extra-light-skyblue-color padding-top">
                <div class="row">
                    <div class="col-lg-12 title text-center">
                        <h2>ACTIVITIES AT <span>SANFORD</span></h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1 padding-top">
                        <div class="row">
                            <div class="col-12 col-lg-6 ">
                                <h2>CELEBRATIONS & WORKSHOPS</h2>
                                <p>The school celebrates various festivals, functions, special days, and other events
                                    like:
                                    Lohri, BasantPanchami, Baisakhi, Holi, RakshaBandhan, Janamashtami, Dussehra,
                                    Diwali, Gurupurab, Republic Day, Independence Day, Teacher’s Day, Mother’s Day,
                                    Earth Day, Hugs Day, Father’s Day, Daughter’s Day, Children’s Day, Friendship Day,
                                    Valentine’s Day, Grandparent’s Day, Earth Day, Sports Day, Annual Day (Cultural
                                    Program – Udaan), etc. The school always invites parents & grandparents in all the
                                    celebrations and events to participate & co-operate.</p>
                                <p>School Organise workshops and seminars for parents on positive parenting, hygiene &
                                    nutrition, orientation programme for the nursery school admission and on many other
                                    topics which are useful to parents in the upbringing of their children.</p>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-lg-10 offset-lg-1">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations2.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-6">
                                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations4.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-6">
                                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations5.jpg"
                                                    alt="">
                                            </div>
                                            <div class="col-6">
                                                <img src="../../../../../assets/our-system/events-celebrations/events-celebrations11.jpg"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid facilities extra-light-red-color padding-top">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row title text-center">
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/activities/yoga.jpg" alt="">
                                    </div>
                                    <h3>YOGA & Exercises</h3>
                                    <p>At Sanford World School, yoga and PT activities amidst nature are routinely
                                        conducted in intriguing and innovative ways, fostering a deep connection with
                                        the natural world. This unique approach not only allows students to revitalize
                                        themselves but also encourages a sense of mindfulness and appreciation for the
                                        environment.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/activities/sport.jpg" alt="">
                                    </div>
                                    <h3>SPORTS & GAMES</h3>
                                    <p>At Sanford World School, additional activities dedicated solely to sports are
                                        also organized. These activities help in maintaining the physical and mental
                                        well-being of students while also improving teamwork and discipline. Sports
                                        encourage students to work together, develop leadership skills, and enhance
                                        their ability to play as part of a team. Furthermore, they instill values of
                                        discipline, dedication, and enthusiasm among students.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/activities/compitition.jpg" alt="">
                                    </div>
                                    <h3>COMPETITIONS</h3>
                                    <p>The School organise various academic, cultural and sports competitions for
                                        students in the school such as rhyme & recitation competition, colouring
                                        competition, Dance Competition, Fancy Dress Competition, age appropriate sports
                                        competitions and we prepare and motivate them to participate in inter-school
                                        competitions also.</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 padding">
                                <div class="row program-card">
                                    <div class="card-img-circle">
                                        <img src="../../../../../assets/our-system/activities/extra-curricular-activity.jpg"
                                            alt="">
                                    </div>
                                    <h3>EXTRA CURRICULAR ACTIVITIES</h3>
                                    <p>At Sanford World School, similar additional educational activities and sports are
                                        also explored, which keep students engaged and aid in their social, physical,
                                        and spiritual development. These activities may include sports, arts, music,
                                        dance, drama, science, technology, and other fields. All these programs provide
                                        students with a platform to develop new skills, enhance their critical thinking
                                        abilities, and offer them opportunities to gain new and interesting experiences
                                        through their exploration.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>