<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid light-yellow-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-12 col-lg-12 title padding-top text-center padding-bottom">
                        <h2>ADMISSION IN <span>SANFORD</span></h2>
                        <div class="row">
                            <div class="col-12 col-lg-6 offset-lg-3">
                                <p>Admission in SANFORD remains open throughout the year on first come first serve basis
                                    depending on the availability of seats in the respective branch.</p>
                            </div>
                        </div>
                        <h2>AGE <span>CRITERIA</span></h2>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-5 offset-lg-2">
                                <div class="row padding">
                                    <div class="card">
                                        <h4>PROGRAM</h4>
                                        <h5>SAN Learner (Play Group)</h5>
                                        <h5>SAN Junior (Nursery/ LKG/ Jr. KG)</h5>
                                        <h5>SAN Senior (KG/ UKG/ Sr. KG)</h5>
                                        <h5>1st</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5">
                                <div class="row padding">
                                    <div class="card">
                                        <h4>AGE GROUP</h4>
                                        <h5>2.5</h5>
                                        <h5>3 - 4</h5>
                                        <h5>4 - 5</h5>
                                        <h5>5 - 6</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="admission-form text-center">
                                    <h3>ADMISSIONS OPEN FOR AY 24–25</h3>
                                    <form [formGroup]="studentForm" (ngSubmit)="studentAddUpdate()">
                                        <div class="row">

                                            <div *ngIf="successMsg && !errorCheck">
                                                <p class="success-message">{{successMsg}}</p>
                                            </div>
                                            <div *ngIf="errorCheck && !successMsg">
                                                <p class="error-message">{{errorMsg}}</p>
                                            </div>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Name</mat-label>
                                                <input matInput type="text" formControlName="name">
                                                <mat-error
                                                    *ngIf="studentForm.get('name')?.hasError('required') && studentForm.get('name')?.touched">
                                                    Name is required
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="studentForm.get('name')?.hasError('pattern') && studentForm.get('name')?.touched">
                                                    Please enter a valid Name (only letters and spaces are allowed)
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input matInput type="text" formControlName="email">
                                                <mat-error
                                                    *ngIf="studentForm.get('email')?.hasError('required') && studentForm.get('email')?.touched">
                                                    Email is required
                                                </mat-error>
                                                <mat-error *ngIf="studentForm.get('email')?.hasError('email')">
                                                    Invalid email format
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Mobile</mat-label>
                                                <input matInput type="number" formControlName="contact">
                                                <mat-error
                                                    *ngIf="studentForm.get('contact')?.hasError('required') && studentForm.get('contact')?.touched">
                                                    Mobile number is required
                                                </mat-error>
                                                <mat-error *ngIf="studentForm.get('contact')?.hasError('minlength')">
                                                    Mobile number must be at least 10 characters long
                                                </mat-error>
                                                <mat-error *ngIf="studentForm.get('contact')?.hasError('maxlength')">
                                                    Mobile number cannot be more than 10 characters long
                                                </mat-error>
                                                <mat-error *ngIf="studentForm.get('contact')?.hasError('pattern')">
                                                    Mobile number must contain only digits
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>City/Town</mat-label>
                                                <input matInput type="text" formControlName="city">
                                                <mat-error
                                                    *ngIf="studentForm.get('city')?.hasError('required') && studentForm.get('city')?.touched">
                                                    City/Town is required
                                                </mat-error>
                                                <mat-error *ngIf="studentForm.get('city')?.hasError('maxlength')">
                                                    Maximum 50 characters allowed for city/town
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Message</mat-label>
                                                <input matInput type="text" formControlName="message">
                                                <mat-error
                                                    *ngIf="studentForm.get('message')?.hasError('required') && studentForm.get('message')?.touched">
                                                    Message is required
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="studentForm.get('message')?.hasError('pattern') && studentForm.get('message')?.touched">
                                                    Please enter a valid message (only letters and spaces are allowed)
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button class="submit-button" mat-raised-button type="submit"
                                                [disabled]="!studentForm.valid">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid light-yellow-color  padding-bottom" style="border-top:1px solid #fff;">
                <div class="col-12 title padding-top">
                    <h4 class="text-center">Documents required at the time of admission:</h4>
                    <div class="row">
                        <div class="col-12 col-lg-6 offset-lg-3">
                            <p>1. Copy of the birth certificate of the child issued by a civic body.</p>
                            <p>2. Three passport size photographs of the child and one passport size photograph of both
                                the parents.</p>
                            <p>3. One passport size photograph of the attendant/ relative who would be responsible for
                                collecting child from the school or school transport (other than parents).</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid padding-top padding-bottom">
                <div class="row">
                    <div class="col-12 title text-center">
                        <h2>GENERAL <span>INFORMATION</span></h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-12 col-lg-6 general-info-card">
                                <div class="row">
                                    <div class=" col-10 offset-1 dark-red-color min-height">
                                        <h2>SANFORD ALMANAC</h2>
                                        <p>The Almanac is the complete guide for school practices and regulations,
                                            having details regarding school fee, annual calendar, etc. and is given to
                                            each student. Parents are advised to see the almanac on regular basis as it
                                            may work as the effective mode of communication between the parents and the
                                            school.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 general-info-card">
                                <div class="row">
                                    <div class=" col-10 offset-1 dark-yellow-color min-height">
                                        <h2>UNIFORM</h2>
                                        <p>In order to create the sense of equality and discipline amongst children
                                            SANFORD students comes in specially designed colorful uniform. It also gives
                                            them unique identification. School uniform is available in the school.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 general-info-card">
                                <div class="row">
                                    <div class=" col-10 offset-1 dark-green-color min-height">
                                        <h2>SCHOOL TRANSPORT</h2>
                                        <p>The school provides transport facility to children. Though adequate measures
                                            are taken to ensure safety of the children. The school is not responsible
                                            for any mishap or injury, which may occur in and around the school or in the
                                            transport.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 general-info-card">
                                <div class="row">
                                    <div class=" col-10 offset-1 dark-skyblue-color min-height">
                                        <h2>CHANGE OF ADDRESS</h2>
                                        <p>The school provides transport facility to children. Though adequate measures
                                            are taken to ensure safety of the children. The school is not responsible
                                            for any mishap or injury, which may occur in and around the school or in the
                                            transports.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 offset-lg-3 general-info-card">
                                <div class="row">
                                    <div class=" col-10 offset-1 dark-pink-color min-height">
                                        <h2>WITHDRAWAL</h2>
                                        <p>One month written notice is required to withdraw the child from the school
                                            and on withdrawal no amount would be refunded in any case.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid padding-bottom">
                <div class="col-12 title padding-top">
                    <h2 class="text-center">TRANSFER <span>POLICY</span></h2>
                    <div class="row">
                        <div class="col-12 col-lg-6 offset-lg-3">
                            <p class="text-center">As per the standard policies of SANFORD if a child is getting
                                transferred from one branch to another branch in
                                that situation both the branches have to follow the certain necessary steps, which are
                                as follows:</p>
                            <p>1. A transfer application has to be given to both transferors as well as transferee
                                branch 15 days prior to the transfer.</p>
                            <p>2. Mid-term transfers involve the sharing of information & documentation from one branch
                                to another through the coordinators.</p>
                            <p>3. In case of transfer of student from one branch to another branch of SANFORD, the
                                Annual Charges, Activity Charges, Tuition Fee and other charges of the new branch will
                                be applicable.</p>
                            <p>4. Parents have to pay the tuition fee& other charges as applicable in the new branch.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>