<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid extra-light-skyblue-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-10 offset-1 title padding-top">
                        <h2 class="text-center">PARTNERSHIP WITH <span>PARENTS</span></h2>
                        <p>Home provides first learning environment to the children and parents are the first teachers.
                            They not only guide children in their progressive path but also demonstrate the appropriate
                            behavior by their actions.</p>
                        <p>We strongly believe that a close partnership between school and parents greatly contribute in
                            the child’s development. Frequent communication between teachers and parents enables to
                            inform each other of relevant information concerning the child. We appreciate being informed
                            of any change at home that might affect child and will treat accordingly in close
                            confidence.</p>
                        <p>We organize parent teacher meetings regularly to discuss child’s progress with his/ her
                            parents. There is an open-door policy at SANFORD; parents can always meet teachers or school
                            authorities on prior appointment to discuss any matter related to the development of the
                            child. </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid padding-top padding-bottom">
                <div class="col-10 offset-1">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <h3>EVENTS FOR PARENTS</h3>
                            <p>Though SANFORD provides a variety of opportunities to parents to participate in the
                                programs like birthday celebrations, festival celebrations, annual day celebration but
                                we organize various events like Orientation Programs, Parenting Workshops & Seminars,
                                Mother’s Day, Parent’s Day and Grandparent’s Day exclusively for parents & grandparents.
                            </p>
                        </div>
                        <div class="col-10 offset-1 col-lg-4 offset-lg-1">
                            <img src="../../../../../assets/our-system/parents-connect/parents1.jpg" alt="">
                        </div>
                    </div>



                    <!-- <div class="row padding-top">
                        <div class="col-10 offset-1 col-lg-4 offset-lg-1">
                            <img src="../../../../../assets/our-system/parents-connect/parents1.jpg" alt="">
                        </div>
                        <div class="col-12 col-lg-7 padding-top">
                            <h3>FORMAL SCHOOL ADMISSION</h3>
                            <p>Admission in desired formal school has become a big task for parents in metro & big
                                cities. The young busy parents are running from pillar to post to get a suitable school
                                for their children. To simplify the admission process we organize seminar for parents to
                                provide the detailed information on formal school admission process and all the queries
                                of parents related to formal school admission process are answered by highly experienced
                                professionals and principals/ directors of reputed schools.
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>