.footer {
   background-color: rgb(238, 239, 241);
   overflow: hidden;
}

.mat-divider {
   background-color: #000;
}

.footer-card {
   /* margin-top: 45px; */
}

.footer-card h3 {
   color: rgb(63, 98, 167);
   font-size: 25px;
   letter-spacing: .5px;
}

.footer-card .footer-item p {
   color: #000;
   font-size: 16px;
   letter-spacing: .5px;
   margin-top: 25px;
   margin-bottom: 25px;
   cursor: pointer;
}

.footer-card .footer-item p:hover {
   color: #fff;
}

.copyright {
   background-color: rgb(36, 8, 71);
   height: 15vh;
   padding-top: 5px;
   padding-bottom: 10px;
}

.copyright p {
   color: #fff;
   font-size: 15px;
   letter-spacing: .45px;
   text-align: center;
}

.copyright p span {
   color: rgb(171, 171, 255);
   cursor: pointer;
}

.copyright p span:hover {
   color: #8d6dff;
}

.margin-social-media-icon {
   margin-top: 25px !important;
}

.bi-facebook,
.bi-linkedin,
.bi-instagram,
.bi-youtube {
   color: rgb(63, 98, 167);
   font-size: 2em;
   cursor: pointer;
   margin-right: 20px;
}

.bi-facebook:hover,
.bi-linkedin:hover,
.bi-instagram:hover,
.bi-youtube:hover {
   color: #fff;
}

.mat-icon {
   color: rgb(63, 98, 167);
   display: inline;
}

@media (min-width: 992px) {

   .footer {
      /* padding-bottom: 10px */
   }

   .footer-card {}

   .footer-card h3 {
      font-size: 25px;
      letter-spacing: .5px;
   }

   .footer-card p {
      font-size: 16px;
      letter-spacing: .5px;
      /* margin-top: 15px;
       margin-bottom: 15px; */
   }

   .copyright {
      height: 15vh;
      padding-top: 5px;
      padding-bottom: 10px;
   }

   .copyright p {
      font-size: 16px;
      letter-spacing: .5px;
      text-align: center;
      /* margin-top: 15px;
       margin-bottom: 20px; */
   }
}